# rename the file to .env
STAGE=prod
APPLICATION_NAME=MiniCloud
MINI_CLOUD_DIR=/Users/nan/mini-cloud
DISCORD_WEBHOOK_ID={your discord channel webhook id}
DISCORD_WEBHOOK_TOKEN={your discord channel webhook token}